<p id="notice"><%= notice %></p>

<h1>Listing Tourdates</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tourdates.each do |tourdate| %>
      <tr>
        <td><%= tourdate.description %></td>
        <td><%= tourdate.status %></td>
        <td><%= link_to 'Show', tourdate %></td>
        <td><%= link_to 'Edit', edit_tourdate_path(tourdate) %></td>
        <td><%= link_to 'Destroy', tourdate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tourdate', new_tourdate_path %>
